

.background{
    background-image: url("../img/aeonLogin.png");

}

.columnListItem > .sapMListTblHighlightCell > .sapMLIBHighlightIndication08{
    background-color: gray;
}

.logoCss .sapMImg {
  display: block;
  margin: 0 auto;
}

/* .loginFormCss{
    width: 30%;
    margin-bottom: 4rem;
    left: 5%;
} */
.loginText{
  font-size: 1.8rem; /* Adjust font size as needed */
  font-weight: 700;
  color: #000000; /* Adjust text color */
  text-align: center;
  margin-bottom: 2rem; /* Add margin to separate from other elements */
  /* padding-left: 10%; */
  width: 95%;
  display: block;
  margin: 0 auto;
}

/* .fonts{
    font-family: cursive ;
    color: rgb(44, 44, 44);
} */


.paperCuttingIcon .sapSuiteUiCommonsMicroProcessFlowItemIcon{
  color: #E76500 !important; 
}
.PrintingIcon .sapSuiteUiCommonsMicroProcessFlowItemIcon{
  color: #0070F2 !important; 
}
.CoatingIcon .sapSuiteUiCommonsMicroProcessFlowItemIcon{
  color: #616161 !important; 
}
.FoilingIcon .sapSuiteUiCommonsMicroProcessFlowItemIcon{
  color: #9C27B0 !important; 
}
.SpotUVIcon .sapSuiteUiCommonsMicroProcessFlowItemIcon{
  color: #D84315 !important; 
}
.EmbossingIcon .sapSuiteUiCommonsMicroProcessFlowItemIcon{
  color: #3F51B5 !important; 
}
.PunchingIcon .sapSuiteUiCommonsMicroProcessFlowItemIcon{
  color: #009688 !important; 
}
.PastingIcon .sapSuiteUiCommonsMicroProcessFlowItemIcon{
  color: #795548 !important; 
}
.ReadyForDispatchIcon .sapSuiteUiCommonsMicroProcessFlowItemIcon{
  color: #FF5722 !important; 
}
.DispatchedIcon .sapSuiteUiCommonsMicroProcessFlowItemIcon{
  color: white !important; 
}
.CommonWhiteIcon .sapSuiteUiCommonsMicroProcessFlowItemIcon{
  color: white !important; 
}

.sapUiCompFilterBar .sapUiCompFilterBarItemLabel:after {
    content: none !important; 
}


.urgentStar .sapUiIcon{
  color: gold !important;
}

.remarkFlag .sapUiIcon{
  color: red !important;
}

tbody > tr[data-po-status="Pending"] .sapMListTblCell,
tbody > tr[data-po-status="Pending"] .sapMListTblSubRow {
    background-color: orange !important;
    color: white !important;
}

tr[data-po-status="Sent"] .sapMListTblCell,
tr[data-po-status="Sent"] .sapMListTblSubCell {
    background-color: gray !important;
    color: white;
}

tr[data-po-status="Received"] .sapMListTblCell,
tr[data-po-status="Received"] .sapMListTblSubRowCell {
    background-color: yellow !important;
    color: #000000;
}

.fonts .sapMInputBaseInner {
    text-transform: uppercase !important;
}

.notificationBell .sapMBadgeIndicator  {
    
    line-height: 2rem !important;
    display: inline-block !important;
    top: -0.26rem !important;
    right: 0rem !important;
    padding-right: 0rem !important;
  
}