@media only screen and (min-width: 780px) {
    .btnText .sapMBtnInner {
        font-size: x-large;
        font-weight: bolder;    
    }
}
@media screen and (max-width: 780px) {
    .btnText .sapMBtnInner {
        font-size: small;
        font-weight: bolder;
    }
}
 
